.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        takashi
      .top-items__icon
        = link_to "#" do
          %i.fa.fa-edit
        = link_to "#" do
          %i.fa.fa-cog
  .side-bar__group-list
    .groups
      .group-name
        techman
      .group-newmessage
        hellohello